extends ../layout

block content
  .container.my-5
    .row
      .col-12
        h1.text-center.capitalize= project.projectName
      .col-8.mt-3
        h1.capitalize= project.projectName
        p= project.projectDesc
        p.capitalize
          a(href=`${project.projectUrl}`) View project site
          div
            button.btn.btn-outline-primary.capitalize.mr-1(type="button" data-toggle="modal" data-target="#bugModal") Submit a bug
            button.btn.btn-outline-secondary.capitalize(type="button" data-toggle="modal" data-target="#featureModal") Submit a feature
      .col-4.my-3
        p Project Creator(s)
        a(href="#")
          img.img-fluid.contribImage.mb-2(src=`${project.projectCreator.image.path}`, alt=`${project.projectCreator.username}'s image`)
        p Test Users / Contributors
        each tester in project.testerId
          a(href="#")
            img.img-fluid.contribImage.border(src=`${tester.image.path}`, alt=`${tester.username}'s image`)
      .col-12.mt-5
        ul#myTab.nav.nav-tabs(role='tablist')
          li.nav-item(role='presentation')
            a#bugs-tab.nav-link.active(data-toggle='tab' href='#bugs' role='tab' aria-controls='bugs' aria-selected='true') Bugs
          li.nav-item(role='presentation')
            a#features-tab.nav-link(data-toggle='tab' href='#features' role='tab' aria-controls='features' aria-selected='false') Features
        #myTabContent.tab-content
          #bugs.tab-pane.fade.show.active(role='tabpanel' aria-labelledby='bugs-tab')
            if project.bugsTracked.length
              each bug in project.bugsTracked
                include ../partials/_bugCard
            else
              h1.text-center.mt-3 No reported bugs as of now.
          #features.tab-pane.fade(role='tabpanel' aria-labelledby='features-tab')
            if project.featuresTracked.length
              each feature in project.featuresTracked
                include ../partials/_featureCard
            else
                h1.text-center No reported bugs as of now.

  include ../partials/_bugModal
  include ../partials/_featureModal
  include ../partials/_bugStatusModal